<h1>Street &rarr; Coords Lookup</h1>

<form action="/game">
  <div>
    <label for="the_move">Your Move</label>
    <input type="text" name="user_move" id="the_move">
  </div>

  <button>Play Your Move</button>
</form>
