<!DOCTYPE html>
<html>
<head>
  <title>RockPaperScissors</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

        <p><a href="/rock"> Play Rock </a></p>
        <p><a href="/paper">Play Paper</a></p>
        <p><a href="/scissors">Play Scissors</a></p>

<%= yield %>

</body>
</html>
